.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0px 10px 20px 20px;
    float: left;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    float: right;
    margin: 0px 20px 10px 0px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin:10px;
    float: right;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin:20px;
    float:left;
}

