.row {
    display:flex;
}

.col {
    background-color:cadetblue;
    color: white;
    flex:1;
    padding: 20px;
    margin: 10px;
}

.col-2 {
    background-color:cadetblue;
    color: white;
    flex:2;
    padding: 20px;
    margin: 10px;
}

.col-3 {
    background-color:cadetblue;
    color: white;
    flex:3;
    padding: 20px;
    margin: 10px;
}